<div class="container">
<h1>Products</h1>
 
    <div class="row">
        @for(cate of Category;track cate.name){
        <div>
            <h2>
                {{cate.name}}
            </h2>
      <div class="carousel">
            @for(item of cate.products; track item.id){
            <div class="card" >
                <img src="{{item.images[0]}}" class="card-img-top" alt="...">
                <div  class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <h6 class="card-title">Rating : {{item.rating}}</h6>
                    <h5 class="card-title">Price : ₹ {{item.price}}</h5>
                </div>
            </div>
 
            }
</div>
        </div>
    }
    </div>